@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
</div>

<div>
    <h4> Single File Upload</h4>
    <form asp-controller="Home" asp-action="SingleFile" enctype="multipart/form-data" method="post">

        <input type="file" name="file" value="file" />

        <button type="submit">  Submit  </button>

    </form>

</div>


<div>
    <h4> Multiple Files Upload</h4>
    <form asp-controller="Home" asp-action="MultipleFiles" enctype="multipart/form-data" method="post">

        <input type="file" multiple name="files" value="files" />

        <button type="submit">  Submit  </button>

    </form>

</div>

<div>
    <h4> File in Model Upload</h4>
    <form asp-controller="Home" asp-action="FileInModel" enctype="multipart/form-data" method="post">

        <input type="text" name="someForm.Name" value="name" />
        <input type="file" name="someForm.File" value="file" />

        <button type="submit">  Submit  </button>

    </form>

</div>


<div>
    <h4> Single File Upload(JS)</h4>

    <input type="file" id="single-file" onchange="UploadFile(event)" />
</div>

<div>
    <h4> Multiple Files Upload(JS)</h4>

    <input type="file" multiple id="multiple-files" onchange="UploadFiles(event)" />
</div>


<div>
    <h4> Upload Single File to Model(JS)</h4>
    <input type="text" id="file-Name" value="name" />
    <input type="file" id="single-file" name="someForm.File" onchange="UploadFileToModel(event)" />
</div>


<div>
    <h4> Payment Evidence to Model(JS)</h4>
    <form asp-controller="Home" asp-action="PaymentEvidence" enctype="multipart/form-data" method="post">
        <input type="text" id="recieptname" value="recieptName" name="PaymentUpload.RecieptName" />
        <input type="file" id="reciept-file" name="PaymentUpload.Reciept" />

        <input type="text" id="excelName" value="excelName" name="PaymentUpload.ExcelName" />
        <input type="file" id="reciept-file" name="PaymentUpload.Excel" />

        <button type="submit">  Submit  </button>

    </form>


</div>

@section scripts{
    <script>
        var UploadFile = function (e) {
            console.log(e);
            var file = e.target.files[0];

            var formData = new FormData();
            formData.append("file", file);

            axios.post("Home/SingleFile", formData);
        }

        var UploadFiles = function (e) {
            var files = e.target.files;
            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }



            axios.post("Home/MultipleFiles", formData);
        }

        var UploadFileToModel = function (e) {
            var fileName = document.getElementById("file-Name").value;
            var file = e.target.files[0];

            var formData = new FormData();
            formData.append("someForm.File", file);
            formData.append("someForm.Name", fileName);

            axios.post("Home/FileInModel", formData);
        }

        //var UploadPaymentToModel = function (e) {
        //    var fileName = document.getElementById("file-Name").value;
        //    var file = e.target.files[0];

        //    var formData = new FormData();
        //    formData.append("PaymentUpload.Reciept", file);
        //    formData.append("PaymentUpload.Name", fileName);

        //    axios.post("Home/PaymentEvidence", formData);
        //}

        

    </script>

}